:root {
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-grey: #3D546F;
--basic-greylight: #C5C5C5;
--basic-background: #F1F5F7;
--white: #FFFFFF;
--special-ylellow: #FFBF47;
--success: #5FBB2D;
--error: #BA2732;
}

body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    text-transform: none;
    background-color: var(--white);

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #324425c;
    background-color: var(--basic-background);
}

.search__header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white);
    background-color: #293449;
}

/* Поисковая строка с корзиной и логотипом */
.wrapper__logo {

}

.main-header-logo {

}

.header-search {
}
.header-search__input-field {
}
.shop-link {
}
.shop-link__list {
  list-style: none;
 }
/*Форма регистрации*/
.login-registration {
  list-style: none;
}
.main-navigation {
  font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white);
    background-color: #293449;
}
.site-navigation a {
  list-style: none;
  color: var(--white);
}
.wrapper {
}
.product-categories {
}
.product-list {
}
.product-item {
}
.products {
}
.button {
}
.gallery-button {
}
.gallery-button-back {
}
.gallery-button-next {
}
.products-list {
}
.products-item {
}
.catalog-button {
}
.features {
}
.features-list {
}
.features-item {
}
.popular-products {
}
.popular-products-list {
}
.popular-product-item {
}
.popular-manufactres {
}
.manufactures-list {
}
.manufactures-item {
}
.manufactures-link {
}
.services {
}
.visually-hidden {
}
.services-list {
}
.services-item {
}
.description {
}
.send-request {
}
.about-company {
}
.partners-list {
}
.partners-item {
}
.contacts {
}
.map-button {
}
.modal {
}
.mail-modal {
}
.username {
}
.user-email {
}
.letter-text {
}
.page-footer {
}
.main-footer {
}
.footer-nav {
}
.footer-adres {
}
.footer-phone {
}
.footer-catalog {
}
.footer-catalog-item {
}
.footer-social {
}
.social-list {
}
.social-item {
}
.social-link {
}
.footer-copyright {
}
